<div class="row">
  <div class="col-xs-12">
    <img [src]="recipeData.recipeImageUrl" style="max-height: 100px" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Recipe Name = {{recipeData.recipeName}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appAppDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#" (click)="onAddToShoppingList()">To shopping list</a></li>
      <li><a href="" routerLink="edit">Edit recipe</a></li>
      <li><a href="">Delete reipe</a></li>
    </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Description = {{recipeData.recipeDescription}}
  </div>
</div>
<div class="row">
	<div class="col-xs-12">
    <div class="list-group-item clearfi" #RecipeIng>
      <div class="row list-group-text" *ngFor = "let k of recipeData.recipeIngredients" >
      <p style="display:inline; word-wrap: break-word;">{{k.name}}</p> = <p style="display:inline; word-wrap: break-word;">{{k.amount}}</p>
      </div>
    </div>
  </div>
</div>